<% const title = `${site.title} | ${page.title}`%>
<% const description = page.description %>
<% const promo = "https://chrome-automation.com/images/logo.png" %>

<title><%= title %></title>

<!-- Meta -->
<meta charset="UTF-8">
<meta name="generator" content="CMintS - https://cmints.io">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="<%= title %>">
<meta name="twitter:title" content="<%= title %>">
<% if (description) { %>
  <meta content="<%- description %>" name="description">
  <meta content="<%- description %>" property="og:description">
  <meta name="twitter:description" content="<%- description %>">
<% } %>
<meta property="og:image" content="<%= promo %>">
<meta name="twitter:image" content="<%= promo %>">
<meta property="og:type" content="website">

<!-- Resources -->
<script src="<%= site.root %>/js/main.js" defer></script>
<% if (page.layout == "homepage") { %>
  <link href="<%= site.root %>/css/homepage.css" rel="stylesheet">
<% } else { %>
  <link href="<%= site.root %>/css/main.css" rel="stylesheet">
<% } %>

<!-- Analytics -->
<%- include _analytics %>

<!-- Favicon -->
<link rel="shortcut icon" href="<%= site.root %>/images/favicon.ico">
<link rel="apple-touch-icon" href="<%= site.root %>/images/logo.png">
