<%
const query = site.queryPages;

function getSubPages(nav)
{
  const subPages = query(({originalPathname}) => {
    const parentPath = `${nav.originalPathname}/`;
    return originalPathname.startsWith(parentPath) &&
           !(originalPathname.substring(parentPath.length).includes("/"));
  });
  
  if (subPages.length) {
      nav.sub_items = [];
      for (const subPage of subPages) {
        if (subPage.menu !== false) {
          nav.sub_items.push(subPage);
          getSubPages(subPage);
        }
    }
    nav.sub_items.sort((a, b) => {
      if (!a.weight)
        return 1;
      if (!b.weight)
        return -1;
      return a.weight - b.weight;
    });
  }
  return nav;
}

const navigation = [];
for (const menuItem of site.menuItems) {
  const page = query(({originalPathname}) => originalPathname === menuItem)[0];
  navigation.push(getSubPages(page));
}
%>

 <nav id="main-navigation">
  <% function recNav(navig) { %>
    <ul>
      <% for ({title, pathname, sub_items} of navig) { %>
        <li <%- sub_items ? "class='has-children'" : "" %>>
          <a href="/<%= pathname %>"><%= title %></a>
            <% if (sub_items) { %>
              <% recNav(sub_items);
            } %>
        </li>
      <% } %>
    </ul>
  <% }
  recNav(navigation) %>
</nav>

<nav id="mobile-nav">
<select>
   <% for ({title, link, sub_items} of navigation) { %>
      <option value="<%- link %>"><%- title %></option>
    <% } %>
</select>
</nav>
