<% const headerMenuItems = ["documentation", "tutorial", "ready-projects", "what's-new"];
const flyoutPages = site.queryPages(({originalPathname}) => headerMenuItems.includes(originalPathname.split('/')[0]));

let navigation = [];
let obj = {};
let childFirst = {};
let childSecond = {};

for (const {originalPathname, pathname, title} of flyoutPages) {
orPath0 = originalPathname.split('/')[0];
orPath1 = originalPathname.split('/')[1]
orPath2 = originalPathname.split('/')[2]

//for (topLevelItem of headerMenuItems) {
  //const secondLevel = site.queryPages(({originalPathname}) => originalPathname.startsWith(`${topLevelItem}/`) && originalPathname.split("/").length === 2);
    //console.log(secondLevel)
//}  

  if (orPath1 && orPath2) {
    childSecond = {title, pathname};
    childFirst = {'title':orPath1, 'pathname':`${orPath0}/${orPath1}`, 'child':childSecond};
    obj = {'title':orPath0, 'pathname':orPath0, 'child':childFirst};
    navigation.push(obj);
  } else if (orPath1 && !orPath2) {
        childFirst = {title, pathname};
        obj = {'title':orPath0, 'pathname':orPath0, 'child':childFirst};
        navigation.push(obj);
    } else if (!orPath1 && !orPath2) {
      obj = {'title':orPath0, 'pathname':orPath0};
        navigation.push(obj);
    }
};

let newNavigation = [];
function recData (navigPath) {
  
for (const {title, pathname, child} of navigPath) {
  let newObj = {};
  let newChild = [];
  if (child) {
    if(newNavigation.find(elem => elem.title == title)){
      continue;
    };
    filtered = navigation.filter(elem => elem.title == title);
    for (const elem of filtered) {
      if(elem.child) {
        //filtered2 = filtered.filter(elem => elem.child[0] == el.child[0]);
        newChild.push(elem.child);
    }
  }
    obj = {title, pathname, newChild};
  newNavigation.push(obj);
  }
  }
};
recData(navigation);
%>

 <nav id="main-navigation">
  <% function recNav(navig) { %>
    <ul>
      <% for ({title, pathname, newChild} of navig) { %>
        <li <%- newChild ? "class='has-children'" : "" %>>
          <a href="<%= pathname %>"><%= title %></a>
            <% if (newChild) { %>
              <% recNav(newChild);
            } %>
        </li>
      <% } %>
    </ul>
  <% }
  recNav(newNavigation) %>
</nav>

<nav id="mobile-nav">
<select>
   <% for ({title, link, sub_items} of site.navigation) { %>
      <option value="<%- link %>"><%- title %></option>
    <% } %>
</select>
</nav>
