<nav id="main-navigation">
  <% function recNav(ft) {
    let excludeFile = []; %>
    <ul>
      <% for (let {path, name, children, size, type} of ft) {
            if (type == 'directory') {
              excludeFile.push(name);
              const ext = '.md';
              path = path.concat(ext); %>
              <li <%- children ? "class='has-children'" : "" %>>
              <a href="<%= path %>"><%= name %></a>
              <% if (children) {
                recNav(children);
            } %>
            </li>
          <% } else {
                name = name.split('.');
                name.pop();
                if (excludeFile.includes(name.toString())) {
                  continue;
                };
                if (name == 'index') {
                  name = 'Home'; // this is not a good solution for index.ejs I guess
                }; %>
                <li <%- children ? "class='has-children'" : "" %>>
                <a href="<%= path %>"><%= name %></a>
                <% if (children) {
                  recNav(children);
                } %>
                </li>
              <% }
      } %>
    </ul>
  <%
  }
  filteredTree = dirTree('./pages', '.md').children;
  recNav(filteredTree);
  %>
</nav>

<nav id="mobile-nav">
<select>
   <% for ({title, link, sub_items} of site.navigation) { %>
      <option value="<%- link %>"><%- title %></option>
    <% } %>
</select>
</nav>
