<%
const query = site.queryPages;
subPages = site.getSubPages;

const navigation = [];
for (const menuItem of site.menuItems) {
  const page = query(({originalPathname}) => originalPathname === menuItem)[0];
  navigation.push(subPages(page));
}
%>

 <nav id="main-navigation">
  <% function recNav(navig) { %>
    <ul>
      <% for ({title, pathname, sub_items} of navig) { %>
        <li <%- sub_items ? "class='has-children'" : "" %>>
          <a href="/<%= pathname %>"><%= title %></a>
            <% if (sub_items) {
              recNav(sub_items);
            } %>
        </li>
      <% } %>
    </ul>
  <% }
  recNav(navigation) %>
</nav>

<nav id="mobile-nav">
<select>
   <% for ({title, link, sub_items} of navigation) { %>
      <option value="<%- link %>"><%- title %></option>
    <% } %>
</select>
</nav>
