<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
  </head>
  <body>
    <header>
      <h1><a href="#"><%= site.title %></a></h1>
      <p><%= site.subtitle %></p>
      <% include _navigation %>
    </header>
    <main>
      <% include _breadcrumbs %>
      <h1><%= page.title %></h1>
      <%- page.body %>
    </main>
    <nav id="sidebar">
    <%- include _sidebar %>
    </nav>
  </body>
  <footer>
    <% include _footer %>
  </footer>
</html>
