<!DOCTYPE html>
<html lang="en">
  <head>
    <% include _head %>
  </head>
  <body>
    <% include _tag-manager %>
    <div id="notification">
      <span>
        <%= page.notification %>
        <a href="<%= page['notification-link'] %>">
          <%= page["notification-link-text"] %>
          <% if (page["notification-link-image"]) {%>
            <img src="<%= page['notification-link-image'] %>" alt="Shy emoji">
          <% } %>
        </a>
      </span>
    </div>
    <div>
      <% include _header %>
      <main>
        <article>
        <h1>
          <%= page.title %>
        </h1>
        <%- page.body %>
        </article>
      </main>
    </div>
  </body>
  <footer>
    <% include _footer %>
  </footer>
</html>
